@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

h1{
    font-family: 'Rocher';
    margin: 30px;
    font-size: 50px;
    text-align: center;
}
