h1 {
    font-family: "Henny Penny";
    color: white;
    margin: auto;
    letter-spacing: 1px;
    font-size: 52px;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 35px;
    }
}