@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

body {
    font-family: 'Rocher';
    margin: 0;
    font-size: 50px;
}

.ocean {
    width: 100%;
    height: 100%;
    /* transform: translateY(-50%); */
}

table {
    justify-content: center;
    text-align: center;
}

.dolphin,
.whale {
    width: 100%;
    height: 100%;
}

.turtle,
.beluga {
    /* border: 1px solid #1c206a;  */
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    padding: 10px;
    /* margin-left: 200px; */
}