.ocean{
    width: 100%;
    height: 100%;
    /* transform: translateY(-50%); */
}

table{
    justify-content: center;
    text-align: center;
}

.dolphin,
.whale{
    width: 100%;
    height: 100%;
} 