body {
    background-color: #1c206a;
    margin: 0;
    font-size: 50px;
}

/* header sytles */

header {
    /* background-color: azure; */
    padding: 10px 0px 10px 0px;
    justify-content: space-between;
}

footer p {
    font-size: 12px;
    text-align: center;
}

/* background colour/patterns */
.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #176cce 50%, #1c206a 50%);
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateY(25%);
    }
}


ul {
    list-style-type: none;
    padding: 5px;
}

.container-navigation {
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
}

.container-1 {
    margin-top: -50px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

button {
    border: 1px solid grey;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding: 10px 20px;
    margin: 10px;
    transition-duration: 4s;
    font-size: 15px;
    text-align: center;
}

/* section 1 center item */

.section-one {
    background-color: #167ed9;
    text-align: center;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    padding: 20px 0px 20px 0px;
    text-align: center;
}

a {
    font-size: 35px;
    text-align: center;
    color: #fdffedff;
}

.preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 25px 15px 15px;
}

.Typography {
    border: 4px inset #167ed9;
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    padding: 10px;
    /* margin-left: 200px; */
}

.preview-para {
    flex: 1;
    /* padding: 200px 400px 0 0px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: navy;
    font-size: 20px;
    justify-content: center;

}


/* TYPOGRAPHY PAGE*/
.typography-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: lightblue;
    font-size: 35px;
    font-weight: bold;
}

.typography {
    /*border: 1px solid white;*/
    background-color: darkslateblue;
}

.caption {
    font-size: 24px;
    font-style: normal;
    text-align: center;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.typography-item {
    /* border: 1px dashed white; */
    /* width: 20px; */
    /* height: 20px; */
    /* padding: 10px; */
    width: 100%;
    height: auto;
    min-width: 10%;
    min-height: 10%;
    padding: 15px;
}

.typography-group {
    /* border: 2px solid yellow; */
    /* /* width:275px; */
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1px 0 1px;
}

.typography h3 {
    font-family: 'Gorditas', sans-serif;
    font-size: 35px;
    text-align: center;
    color: floralwhite;
}

.typography-word {
    color: cornsilk;
}

/* a responsive navigation menu */
@media screen and (max-width: 1200px) {
    .typography-group {
        width: 33.33%;
    }
}

@media screen and (max-width: 700px) {
    .typography-group {
        width: 50%;
    }
}

@media screen and (max-width: 300px) {
    .typography-group {
        width: 100%;
    }
}


/* section 2 */

.section-two {
    background-color: #1eb89a;
    text-align: center;
}

.CARP {
    border: 5px outset #1eb89a;
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    padding: 10px;
    /* margin-left: 200px; */
}



/* CARP PAGE */
.carp-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: lightblue;
    font-size: 35px;
    font-weight: bold;
}

.carp {
    /*border: 1px solid white;*/
    background-color: darkslateblue;
}

.carp h3 {
    font-family: 'Gorditas', sans-serif;
    font-size: 35px;
    text-align: center;
    color: floralwhite;
}


.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.carp-item {
    /* border: 1px dashed white; */
    /* width: 20px; */
    /* height: 20px; */
    /* padding: 10px; */
    width: 100%;
    height: auto;
    min-width: 10%;
    min-height: 12%;
    padding: 15px;
}

.carp-group {
    /* border: 2px solid yellow; */
    /* width:275px; */
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1px 0 1px;
}

.carp-word {
    color: cornsilk;
}

/* a responsive navigation menu */
@media screen and (max-width: 1200px) {
    .carp-group {
        width: 33.33%;
    }
}

@media screen and (max-width: 800px) {
    .carp-group {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .carp-group {
        width: 90%;
    }
}

.references p {
    font-size: 15px;
}


/* section 3 -- coding worksheets */

.section-three {
    background-color: #15A5C8;
    text-align: center;
}


/* coding html */

.coding-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: lightblue;
    font-size: 30px;
    font-weight: bold;
}

.coding {
    /*border: 1px solid white;*/
    background-color: darkslateblue;
}

.coding-group {
    padding-bottom: 30px;
    max-width: 960px;
    margin: auto;
}

.coding h3 {
    font-family: 'Gorditas', sans-serif;
    font-size: 35px;
    text-align: center;
    color: #1eb89a;
}

.coding-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 15px 25px 15px 15px;
}

.coding-link a {
    font-size: 28px;
    display: flex;
    justify-content: center;
    color: wheat;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: floralwhite;
    /* max-width: 960px; */
    text-align: center;
}

.line {
    height: 10px;
    background-color: darkblue;
    width: 60%;
    margin: 0 auto;
}


/* Section 4 */
.section-four {
    background-color: #3b73d4ff;
    text-align: center;
}

/* reflection page */

.essay {
    /* background-color: #3b73d4ff; */
    margin-bottom: 0;
    margin-top: -50px;
}

.essay p {
    max-width: 960px;
    font-size: 25px;
    margin: auto;

}

.references {
    /* background-color:darkslateblue; */
    padding: 5px 20px 30px 20px;
}

.references h4 {
    color: gainsboro;
    font-size: 25px;
    text-align: center;
    font-family: 'Gorditas', sans-serif;
}

.references p {
    color: gainsboro;
}

/* button style */

button {
    border: 1px solid black;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding: 10px;
    margin: 2px;
    transition-duration: .4s;
}

button:hover {
    background-color: lightyellow;
    color: #167ed9;
}

button:active {
    background-color: lightyellow;
    box-shadow: 0 5px #1c206a;
    transform: translateY(4px);
}

.button-one-section {
    background-color: white;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-top-img {
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;
    width: 70%;
}

/* p5.js page */
.p5js-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: lightblue;
    font-size: 35px;
    font-weight: bold;
}

.p5js {
    /*border: 1px solid white;*/
    background-color: darkslateblue;
}

.p5js-item {
    width: 100%;
    height: auto;
    min-width: 10%;
    min-height: 10%;
    padding: 15px;
}

.p5js-group {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1px 0 1px;
}

.p5js h3 {
    font-family: 'Gorditas', sans-serif;
    font-size: 35px;
    text-align: center;
    color: floralwhite;
}

.p5js-link a {
    font-size: 30px;
    display: flex;
    justify-content: center;
    color: wheat;
}

/* a responsive navigation menu */
@media screen and (max-width: 1200px) {
    .p5js-group {
        width: 33.33%;
    }
}

@media screen and (max-width: 700px) {
    .p5js-group {
        width: 50%;
    }
}

@media screen and (max-width: 300px) {
    .p5js-group {
        width: 100%;
    }
}

/* 3D and Video page */
.video-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: lightblue;
    font-size: 35px;
    font-weight: bold;
}

.video {
    /*border: 1px solid white;*/
    background-color: darkslateblue;
}

.video-item {
    width: 100%;
    height: auto;
    min-width: 10%;
    min-height: 10%;
    padding: 15px;
}

.video-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 1px 0 1px;
}

.video h3 {
    font-family: 'Gorditas', sans-serif;
    font-size: 35px;
    text-align: center;
    margin-top: -50px;
    color: floralwhite;
}

.youtube h3 {
    font-family: 'Gorditas', sans-serif;
    font-size: 35px;
    text-align: center;
    margin-top: -50px;
    color: floralwhite;
}

.youtube {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


iframe {
    padding: 5px;
}