body{
    background-color: #1c206a;
    margin: 0;
    font-size: 50px;
}

/* header sytles */

header {
    /* background-color: azure; */
    padding: 10px 0px 10px 0px;
    justify-content: space-between;
}

footer{
    font-size: 12px;
    text-align: center;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 52px; 
    text-align: center;
    color: white;
}

/* background colour/patterns */
.bg{
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #176cce 50%, #1c206a 50%);
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2{
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3{
    animation-duration: 5s;
}

@keyframes slide{
    0%{
        transform: translateX(-25%);
    }
    100%{
        transform: translateY(25%);
    }
}


ul{
    list-style-type: none;
    padding: 5px;
}

.container-navigation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
}

button{
    border: 1px solid grey;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding: 10px 20px;
    margin: 10px;
    transition-duration: 4s;
    font-size: 15px;
    text-align: center;
}



/* section 1 center item */

.section-one {
    background-color: #167ed9;
    text-align: center;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    padding: 20px 0px 20px 0px;
    text-align: center;
}

a{
    font-size: 30px;
    text-align: center;
    color: #fdffedff;
}

.preview{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 15px 25px 15px 15px;
}

.preview table{
    
}

.Typography {
    border: 1px solid #1c206a; 
    display: flex; 
    flex-wrap: wrap;
    width: 20%;   
    padding: 10px; 
    /* margin-left: 200px; */
 }

 .preview-para{
    flex: 1; 
    /* padding: 200px 400px 0 0px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: navy;
    font-size: 20px;
    justify-content: center;

 }



 /* TYPOGRAPHY PAGE*/
.typography-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: lightblue;
    font-size: 40px;
    font-weight: bold;
}

.typography{
    /*border: 1px solid white;*/
    background-color: darkslateblue;
}

.caption{
    font-size: 15px;
    font-style: normal;
    text-align: center;
    padding: 10px;
}

.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.typography-item{
   /* border: 1px dashed white; */
    /* width: 20px; */
    /* height: 20px; */
    /* padding: 10px; */
    width: 100%;
    height: auto;
    min-width: 10%;
    min-height: 10%; 
    padding: 15px;
}

.typography-group{
    /* border: 2px solid yellow; */ 
    /* /* width:275px; */
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1px 0 1px;
}

h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center; 
    color:floralwhite;
}

.typography-word{
    color: cornsilk;
}

/* a responsive navigation menu */
@media screen and (max-width: 1200px) {
    .typography-group {
        width: 33.33%;
    }
}

@media screen and (max-width: 700px) {
    .typography-group {
        width: 50%; 
    }
}

@media screen and (max-width: 300px) {
    .typography-group {
        width: 100%; 
    }
}


/* section 2 */

.section-two {
    background-color: #1eb89a;
    text-align: center;
}

.CARP {
    border: 1px solid #1c206a; 
    display: flex; 
    flex-wrap: wrap;
    width: 20%;   
    padding: 10px; 
    /* margin-left: 200px; */
 }



 /* CARP PAGE */
 .carp-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: lightblue;
    font-size: 30px;
    font-weight: bold;
}

.carp{
    /*border: 1px solid white;*/
    background-color: darkslateblue;
}


.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.carp-item{
   /* border: 1px dashed white; */
    /* width: 20px; */
    /* height: 20px; */
    /* padding: 10px; */
    width: 100%;
    height: auto;
    min-width: 10%;
    min-height: 12%; 
    padding: 15px;
}

.carp-group{
    /* border: 2px solid yellow; */
    /* width:275px; */
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1px 0 1px;
}

h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center; 
    color:floralwhite;
}

.carp-word{
    color: cornsilk;
}

/* a responsive navigation menu */
@media screen and (max-width: 1200px) {
    .carp-group {
        width: 33.33%;
    }
}

@media screen and (max-width: 800px) {
    .carp-group {
        width: 50%; 
    }
}

@media screen and (max-width: 500px) {
    .carp-group {
        width: 90%; 
    }
}


/* section 3 -- coding worksheets */

.section-three{
    background-color: #15A5C8;
    text-align: center;
}


/* coding html */

.coding-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: lightblue;
    font-size: 30px;
    font-weight: bold;
}

.coding {
    /*border: 1px solid white;*/
    background-color: darkslateblue;
}


.coding-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 15px 25px 15px 15px;
}

.coding-link{
    font-size: 10px;
    display: flex;
    justify-content: center;
}
 
/* Section 4 */
.section-four{
    background-color: #3b73d4ff;
    text-align: center;
}

/* button style */

button {
    border: 1px solid black;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding: 10px;
    margin: 2px;
    transition-duration: .4s;
}

button:hover {
    background-color: lightyellow;
    color: #167ed9;
}

button:active{
    background-color: lightyellow; 
    box-shadow: 0 5px #1c206a;
    transform: translateY(4px);
}

.button-one-section{
    background-color: white;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-top-img{
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;
    width: 70%;
}
