body{
    background-color: cornflowerblue;
}

/* header sytles */

header {
    background-color: azure;
    padding: 10px 0px 10px 0px;
    
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
}

ul{
    list-style-type: none;
    padding: 15px;
}

.container-navigation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}


/* section 2 center item */

.section-one {
    background-color: ivory;
    
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    padding: 20px 0px 20px 0px;
}

.preview{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 15px 25px 15px 15px;
}

.Typography {
    border: 1px solid rgb(0, 136, 255); 
    display: flex; 
    flex-wrap: wrap;
    width: 40%;   
    padding: 10px; 
 }

 .preview-para{
    flex: 1;
    padding: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: navy;
    font-size: 15px;

 }

 /* TYPOGRAPHY PAGE*/
.typography-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: navy;
    font-size: 35px;
    font-weight: bold;
}

.typography{
    /*border: 1px solid white;*/
    background-color: darkslateblue;
}

.caption{
    font-size: 25px;
    font-style: italic;
    text-align: center;
}

.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.typography-item{
   /* border: 1px dashed white; */
    width: 275px;
    height: 275px;
    padding: 4px;
}

.typography-group{
    /*border: 2px solid yellow; */
    width: 275px;
}