body{
    background-color:purple;
}

p {
   color: lightpink;
}

.typography {
    border: 1px solid white;
    background-color: darkslateblue;
}

.typography-words {
    font-size: 15px;
    font-style: italic;
    text-align: center;
}

.container {
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.typography-image{
    border: 1px dashed yellow;
    width: 275px;
    height: 275px;
    padding: 4px;
}

.Typographic-system{
    border: 2px solid green;
    width: 275px;
}